body {
    font-family: arial, sans-serif;
    font-size: 80%;
    margin: 0 auto;
    width: 960px;
}
body ul {
    list-style: none;
    padding: 0px;
}
body li {
    display: inline-block;
    vertical-align: top;
}
#content {
    width: 600px;
    margin: 20px;
}
#right {
    width: 150px;
}
#cart {
    border: 1px solid #dddddd;
}
#cart .title {
    border-bottom: 1px solid #dddddd;
    width: 100%;
    background-color: #dddddd;
    font-size: 12pt;
    font-weight: bold;
}
#cart .contents {
    margin: 1px;
}
#cart .contents ul {
    padding: 10px;
}
#cart .contents li {
    display: block;
}
#cart .label {
    font-weight: bold;
    color: #999999;
}
#cart .total {
    font-weight: bold;
    font-size: 14pt;
}
#spacer {
    height: 100px;
}